PORT=3000

MAILER_SERVICE=
MAILER_EMAIL=
MAILER_SECRET_KEY=

PROD=false

MONGO_URL=mongodb://<user>:<pass>@localhost:27018/
MONGO_DB_NAME=NOC-TEST
MONGO_USER=
MONGO_PASS=

POSTGRES_URL="postgresql://<user>:<pass>@localhost:5433/<db>"
POSTGRES_USER=
POSTGRES_DB=NOC-TEST
POSTGRES_PASSWORD=
